* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: calc(14px + 0.390625vw);
}

body {
  padding: 4%;
  background-color: #f5f6fa;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}